body {
    background: black;
}

h1 {
    font-size: 3em;
}

/* Game Background */
img#bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1280px;
    margin-left: -640px; /* Half the width */
    height: 720px;
    margin-top: -360px; /* Half the height */
    z-index: -1;
}

video#host {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1280px;
    margin-left: -640px; /* Half the width */
    height: 720px;
    margin-top: -360px; /* Half the height */
    z-index: 1;

}

@font-face {
    font-family: S911;
    src: url(../fonts/Swiss911.ttf);
}

@font-face {
    font-family: Korinna;
    src: url(../fonts/korinna.otf);
}

.board {
    position: absolute;
    top: 51.8%;
    left: 50%;
    width: 854px;
    margin-left: -427px; /* Half the width */
    height: 480px;
    margin-top: -240px; /* Half the height */
    background-color: #0015a0;
}

.board td {
    border: 4px solid black;
    width: 142px;
    line-height: 1em;
    padding: 0 3px 0 3px;
}

.categories {
    font-family: S911;
    font-size: 2em;
    text-align: center;
    color: white;   
    text-shadow: 2px 2px black;
}

.prices {
    font-family: S911;
    font-size: 2.5em;
    text-align: center;  
    color: #efaa50;
    text-shadow: 2px 2px black;
}

.vert {
    position: relative;
    top: 0;
    left: 0;
    width: 854px;
    height: 480px;
}

.center {
    padding: 10px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 854px;
    margin-left: -427px; /* Half the width */
    height: 480px;
    margin-top: -240px; /* Half the height */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-danger {
    width: 200px;
    font-size: 1em;
    margin: 0 auto;
}

p.answer {
    font-size: .8em;
}

p.answer:hover {
    background: white;
    color: #0015a0;
    text-shadow: none;
}

p.time {
    font-size: .6em;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 2%;
}

p.spacer {
    line-height: .75em;
}

#blankbox {
    z-index: 1;
    font-family: Korinna;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    display: none;
}

#blankbox.grow {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    height: 0px;
    width: 0px;

}

#finalbox {
    z-index: 1;
    font-family: Korinna;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    display: none;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1280px;
    margin-left: -640px; /* Half the width */
    height: 720px;
    margin-top: -360px; /* Half the height */
}

#message span {
    font-family: Korinna;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px black;
    position: absolute;
    padding-bottom: 10px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
}

